* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* regole position/flex*/

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.fixedHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.relativePos {
  position: relative;
}

.zindex3 {
  z-index: 3;
  transition: 0.2s all linear;
}

.z-index3.alt-color {
  background-color: white;
}

.zindex2 {
  z-index: 2;
}

.flex {
  display: flex;
}

.columnFD {
  flex-direction: column;
}

.rowFD {
  flex-direction: row;
}

.centerJC {
  justify-content: center;
}

.endJC {
  justify-content: flex-end;
}

.betweenJC {
  justify-content: space-between;
}

.middleVA {
  vertical-align: middle;
}

.centerAI {
  align-items: center;
}

.baselineAI {
  align-items: baseline;
}

.startAI {
  align-items: flex-start;
}

.wrapFW {
  flex-wrap: wrap;
}

/*regole grafiche colore*/

.yBG {
  background-color: #febf17;
  transition: 0.2s all linear;
}

.yBG.alt-color {
  background-color: white;
}

.bBordBott {
  border-bottom: 1px solid #242424;
}

.blackText {
  color: #242424;
}
/* regole grafiche dimensioni*/

.bodyMargin {
  margin: 0 64px;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.height16 {
  height: 16px;
}

.maxWidthHeader {
  max-width: 1192px;
}

.headerDim {
  height: 75px;
  padding: 25px 0;
}

.rightMargin25 {
  margin-right: 25px;
}

.rightMargin8 {
  margin-right: 8px;
}

.padTop4 {
  padding-top: 4px;
}

.padTop8 {
  padding-top: 8px;
}

.padBot8 {
  padding-bottom: 8px;
}

.padBot16 {
  padding-bottom: 16px;
}

.margBot10 {
  margin-bottom: 10px;
}

.sticky {
  position: sticky;
  top: 107px;
}
/* regole specifiche per elemento */

.aHeader {
  margin: 0;
  padding: 0;
  color: #242424;
  text-decoration: none;
}

.headerCentralBar {
  flex: 0 1 auto;
}

.headerTextSpecs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.headerButton {
  padding: 8px 16px;
  line-height: 20px;
  font-size: 14px;
  color: white;
  margin: 0;
  background-color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 99em;
}

.mBlock {
  right: 0;
  position: absolute;
  width: 585px;
}

.mainBlockSizing {
  padding: 93px 0;
  width: 550px;
}

.mainTextMargin {
  margin-bottom: 35px;
}

.h1Main {
  font-family: "Spectral", serif;
  font-size: 106px;
  color: black;
  line-height: 95px;
  letter-spacing: -0.05em;
  font-weight: 300;
}

.h2MainSpacing {
  width: 80%;
  margin-bottom: 50px;
}

.h2Main {
  font-size: 24px;
  color: black;
  line-height: 24px;
}

.mainButton {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 99em;
  width: 213px;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.mainSpacing {
  width: 100%;
  margin-top: 75px;
}

.trendingPadding {
  padding-top: 40px;
  padding-bottom: 16px;
}

.trendTitleMargin {
  margin-bottom: 16px;
}

.h1Trending {
  color: #242424;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

.svgTrendingTitle {
  margin-right: 10px;
}

.trendingArtWidth {
  margin-right: -16px;
  margin-left: -16px;
  width: calc(100% + 32px);
}

.singleTrendArticle {
  flex-grow: 0;
  padding-inline: 16px;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.bottomTrendArticle {
  margin-bottom: 24px;
}

.numClassTrend {
  width: 40px;
  top: -10px;
  margin-right: 16px;
  position: relative;
  flex: 0 0 auto;
}

.numClassGrap {
  color: #e6e7e7;
  line-height: 38px;
  font-size: 32px;
  font-weight: 500;
}

.avatarUserMB {
  margin-bottom: 8px;
}

.avatarImg {
  vertical-align: middle;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.leftMarginUserName {
  margin-left: 8px;
}

.h3Username {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-height: 16px;
  padding-right: 2px;
}

.h2ArticleTitle {
  max-height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #242424;
  letter-spacing: 0;
}

.dateRead {
  font-size: 13px;
  color: #757576;
  line-height: 20px;
  font-weight: 400;
}

.starArticle {
  padding: 0 0 0 4px;
}

/* lista articoli */

.articleList {
  padding-top: 56px;
  border-top: 1px solid #e6e7e7;
}

.articleListGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
}

.listSection {
  grid-column: 1 / span 7;
  grid-row-start: 1;
}

.listedArticlePadd {
  padding-top: 12px;
  padding-bottom: 12px;
}

.listedArticleMBott {
  margin-bottom: 48px;
}

.listArtTextMargin {
  margin-right: 20px;
}

.pointer {
  cursor: pointer;
}

.listedArticleH2 {
  color: black;
  overflow: hidden;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  max-height: 48px;
  letter-spacing: 0;
}

.listedArticleH4 {
  overflow: hidden;
  font-size: 16px;
  color: #6b6b6b;
  max-height: 40px;
}

.dateListedArticle {
  font-size: 13px;
  color: #6b6b6b;
  line-height: 20px;
}

.labelListedArticle {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  border-radius: 100px;
  color: #6b6b6b;
  border: 1px solid #f2f2f2;
  padding: 2px 8px;
}

.listedArticleImg {
  width: 200px;
  vertical-align: middle;
}

/* aside */

aside {
  grid-row-start: 1;
  grid-column: 9 / span 4;
}

.asideBottom {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.h2Aside {
  font-size: 16px;
  color: black;
  line-height: 20px;
  font-weight: 500;
}

.labelAside {
  font-size: 14px;
  color: #242424;
  line-height: 20px;
  padding: 8px 16px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.lastlink {
  padding: 24px 0;
}

.lastlinkMargin {
  margin-right: 26px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 20px;
}
/*pseudo classi */

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
